<section class="menu">
  <h3>{{ title }}</h3>
  <nav>
    <ul>
      <li>
        <a class="button" routerLink="/blog" routerLinkActive="activeAnchor"
          >Blog</a
        >
      </li>
      <li>
        <a
          class="button"
          routerLink="/videojuegos"
          routerLinkActive="activeAnchor"
          >Videojuegos</a
        >
      </li>
      <li>
        <a class="button" routerLink="/cursos" routerLinkActive="activeAnchor"
          >Cursos</a
        >
      </li>
      <li>
        <a class="button" routerLink="/home" routerLinkActive="activeAnchor"
          >Home</a
        >
      </li>
    </ul>
  </nav>
</section>
