<button *ngIf="!shows" (click)="cargarShows()">Cargar shows</button>

<div *ngIf="shows" class="wrap-shows">
  <div *ngFor="let show of shows">
    <h2>{{ show.name }}</h2>
    <img src="{{ show.image.medium }}" alt="" />
    <p>Status {{ show.status }}</p>
    <p>id {{ show.id }}</p>
    <a href="{{ show.url }}">Enlace</a>

    <button (click)="toEpisodeList(show.id, show.name)">
      Lista de episodios
    </button>
  </div>
</div>

<div *ngIf="cargando">
  <p>Cargando.... <span class="reloj">⌛</span></p>
</div>
