<section>
  <div class="wrap-entradas" *ngFor="let element of entradas">
    <div class="entrada">
      <h2
        [ngStyle]="{
          'text-transform': 'uppercase',
          'text-decoration': element.titulo.length > 10 ? 'underline' : 'none'
        }"
      >
        {{ element.titulo }}
      </h2>
      <p>{{ element.contenido }}</p>
      <p>
        <span>{{ element.fecha }}</span> -- <strong>{{ element.autor }}</strong>
        <br />
        <span
          [style.background]="
            element.cant_comments > 30 ? 'green' : 'blueviolet'
          "
          [style.padding]="'1rem'"
          [style.display]="'block'"
          [style.margin]="'1rem 0'"
          >Comments: {{ element.cant_comments }}</span
        >
      </p>
      <img src="{{ element.src_img }}" alt="" />
    </div>
  </div>
</section>

<input type="number" name="" id="" [max]="entradas.length" />
