<section>
  <div class="wrap-entradas" *ngFor="let element of entradas; let ind = index">
    <div
      class="entrada"
      *ngIf="
        element.titulo &&
        element.contenido &&
        element.fecha &&
        element.autor &&
        element.cant_comments &&
        element.src_img
      "
    >
      <p>index {{ ind }}</p>
      <div style="display: flex; justify-content: end; flex-direction: row">
        <button (click)="eliminarEntrada(ind)">X</button>
      </div>
      <h2
        [ngStyle]="{
          'text-transform': 'uppercase',
          'text-decoration': element.titulo.length > 10 ? 'underline' : 'none'
        }"
      >
        {{ element.titulo }}
      </h2>
      <p>{{ element.contenido }}</p>
      <p>
        <span>{{ element.fecha }}</span> -- <strong>{{ element.autor }}</strong>
        <br />
        <span
          [style.background]="
            element.cant_comments > 30 ? 'green' : 'blueviolet'
          "
          [style.padding]="'1rem'"
          [style.display]="'block'"
          [style.margin]="'1rem 0'"
          >Comments: {{ element.cant_comments }}</span
        >
      </p>
      <img src="{{ element.src_img }}" alt="" />
    </div>
  </div>
</section>

<section class="twdb">
  <p>la propiedad es {{ nueva_propiedad }}</p>
  <input
    (input)="inputtwdb()"
    type="text"
    [(ngModel)]="nueva_propiedad"
    name=""
    id="input-nueva-propiedad"
    placeholder="nuevo valor para la propiedad de la clase"
  />

  <span
    class="mensaje_alerta"
    *ngIf="nueva_propiedad"
    [class.validate]="nueva_propiedad.length >= 5"
    [class.novalidate]="
      nueva_propiedad.length > 1 && nueva_propiedad.length < 5
    "
  ></span>

  <span
    *ngIf="nueva_propiedad"
    [ngClass]="{
      validate: nueva_propiedad.length >= 5,
      novalidate: !(nueva_propiedad.length >= 5)
    }"
    >Este es otro mensaje de alerta que funciona en paralelo usando
    [ngClass]</span
  >

  <p>la nueva propiedad es {{ nueva_propiedad }}</p>
  <button (click)="getNuevaPropiedad()">Mostrar nueva propiedad</button>
</section>

<form action="" class="formulario">
  <label for="">Titulo</label>
  <input
    [(ngModel)]="nueva_entrada.titulo"
    name="titulo"
    type="text"
    id=""
    placeholder="titulo para la nueva entrada"
  />

  <label for="">Contenido</label>
  <input
    [(ngModel)]="nueva_entrada.contenido"
    type="text"
    name="contenido"
    id=""
  />

  <label for="">Fecha</label>
  <input [(ngModel)]="nueva_entrada.fecha" type="text" name="fecha" id="" />

  <label for="">Autor</label>
  <input [(ngModel)]="nueva_entrada.autor" type="text" name="autor" id="" />

  <label for="">Cantidad de comentarios</label>
  <input
    [(ngModel)]="nueva_entrada.cant_comments"
    type="number"
    name="number"
    id=""
  />

  <label for="">Link de la imagen</label>
  <input
    [(ngModel)]="nueva_entrada.src_img"
    type="text"
    name="source_image"
    id=""
  />

  <button (click)="agregarEntrada()">Agregar nueva entrada</button>
</form>
