<section>
  <h1>COMPONENTE HOME</h1>
  <label for="">Introduce tu nombre</label>
  <input type="text" id="nombre_cur" />
  <label for="">Introduce tu apellido</label>
  <input type="text" id="apellido_cur" />

  <!-- <a [routerLink]="['/cursos', nombre_cur, 'stringa']">
    <button type="submit">Ir a cursos (error)</button>
  </a> -->

  <button (click)="redireccionar()">Redireccionar</button>

  <br />
  <a href="/home#">home#</a>
  <br />
  <menu></menu>
</section>

<section class="pipes">
  <p>Trabajando con pipes</p>
  <p>{{ fecha | date }}</p>
  <p>Fc {{ fecha | date: "fullDate" | uppercase }}</p>
  <p>{{ currency | currency: "USD" }}</p>
  <p>{{ currency | currency: "EUR":"Euros " }}</p>
  <p>{{ [1, 2, 3, 4, 5, 6, 7, 8] | slice: 1:5 }}</p>
</section>

<section class="pipe-personalizada">
  <h2>Utilizando una pipe personalizada</h2>

  <p>{{ 2 | calc: "*45" }}</p>
  <p>{{ 2 | calc: "/8" }}</p>
</section>
